<form action="/dashboard" method="POST">
    <div>
        <label for="username">enter username</label>
        <input type="text" id="username" name="username">
    </div>
    
    <button>submit</button>
</form>