<html>

<head>
  <title>✨ Dashboard</title>

  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/stylesheets/global.css" />
</head>

<body>
  <input type="hidden" name="id" value="<%=id %>" />
  <%- include ("./partials/header") %>

  <!-- NAV BAR-->
  <b>
    <div style="background-color: var(--accent1)">
      <div class="container" style="text-align: center;">
        <div class="row">
          <div class="col s3" style="padding: 10px;">
            <a href="/dashboard/" class="waves-effect waves-teal btn-flat">NOTICE BOARD</a>
          </div>
          <div class="col s3" style="padding: 10px;">
            <a href="/dashboard/new" class="waves-effect waves-teal btn-flat">DAILY REPORT</a>
          </div>
          <div class="col s3" style="padding: 10px;">
            <a href="/dashboard/show?id=<%=id%>" class="waves-effect waves-teal btn-flat">PAST REPORTS</a>
          </div>
          <div class="col s3" style="padding: 10px;">
            <a href="/dashboard/advice" class="waves-effect waves-teal btn-flat">DOCTORS' ADVICE</a>
          </div>
        </div>
      </div>
    </div>
  </b>

  <!-- NOTICE BOARD -->
  <div class="container example" style="
        height: 60vh;
        overflow: scroll;
        background-color: var(--secondary);
        padding: 0 30px;
      ">
    <h3>Notice Board</h3>
    <div class="row">
      <div class="col s12">
        <h5><b>📕 A guide to WHO’s guidance on COVID-19</b></h5>
        <p>
          <strong>
            There’s a lot of information out there about how governments, health professionals and the general public should respond
            to the COVID-19 pandemic. WHO has published guidance and advice every step of the way.
          </strong><br><br>
          During health emergencies like the COVID-19 pandemic, one of WHO’s most vital roles is to gather data and research from
          around the world, evaluate it, and then advise countries on how to respond.
          <br><br>
          WHO teams work with experts from around the world to develop this guidance. Together, the experts review reports,
          studies, presentations by countries, they analyse trends, consult further expert groups and then agree on the best
          approach. The guidance is meant for health decision makers who adapt the information for their country and context. As
          new scientific knowledge emerges, the documents are updated.
          <br><br>
          Since <strong>January 2020</strong>, WHO has published more than 100 documents about COVID-19. Of these, more than half are detailed
          technical guidance, on how to find and test cases, how to provide safe and appropriate care for people depending on the
          severity of their illness, how to trace and quarantine contacts, how to prevent transmission from one person to another,
          how to protect health care workers, and how to help communities to respond appropriately.
          <br><br>
          <em><a href="https://www.who.int/news-room/feature-stories/detail/a-guide-to-who-s-guidance"><b>source </b><u>www.who.int</u></a></em>
        </p>
        <hr>
      </div>
      
      <div class="col s12">
        <h5><b>🌱 Living through an outbreak</b></h5>
        <p>
          WHO has outlined detailed guidance on how to find and test cases during different phases of the pandemic. In addition to
          case finding, contact tracing is essential in tracking and breaking chains of transmission of COVID-19. WHO provides
          technical guidance on contact tracing explains what constitutes a contact, how to identify contacts and how best to
          monitor contacts in quarantine.
          <br><br>
          When health systems are overwhelmed, both deaths directly from the outbreak and deaths as a result of
          vaccine-preventable and treatable conditions increase dramatically. Countries will need to make difficult decisions to
          balance the demands of responding to COVID-19 with the demands of maintaining the delivery of health services for
          sufferers of other illnesses. WHO has guidance and a list of actions that countries should consider in order to maintain
          access to high-quality essential health services for all.
          <br><br>
          Physical health injuries may be more noticeable than mental ones, but a global pandemic can have huge adverse effects on
          people’s mental health too. The booklet on mental health services during COVID-19 offers background and explanations for
          why maintaining mental health services is crucial in order to avoid a second global health emergency. It offers
          suggestions on assisting those who may be suffering, particularly those in vulnerable populations like frontline health
          workers and the ageing population.
          <br><br>
          <em><a href="https://www.who.int/news-room/feature-stories/detail/a-guide-to-who-s-guidance"><b>source</b>
              <u>www.who.int</u></a></em>
        </p>
        <hr>
      </div>

      <div class="col s12">
        <h5><b>🤝🏻 Managing and ending an outbreak</b></h5>
        <p>
          As some countries look to ease restrictions, it’s important that they have access to all the information needed to
          ensure changes to behaviour are safe and managed. WHO has provided guidance on when and how to adjust large scale public
          health and social measures.
          <br><br>
          WHO has published a list of considerations for decisions about reopening schools. It outlines what questions should be
          answered before countries determine the status of education facilities. A similar document has been published on health
          measures in workplaces.
          <br><br>
          For densely populated urban centres, a comprehensive guide is available, listing the steps to both prepare for and
          respond to a potential COVID-19 outbreak. The guide includes real examples from cities around the world that have made
          necessary changes to their infrastructure in anticipation of an outbreak.
          <br><br>
          <em><a href="https://www.who.int/news-room/feature-stories/detail/a-guide-to-who-s-guidance"><b>source</b>
              <u>www.who.int</u></a></em>
        </p>
        <hr>
      </div>

      <div class="col s12">
        <h5><b>💼 Resuming activities during and after an outbreak</b></h5>
        <p>
          Restricting large gatherings has helped in limiting the spread of the virus. As some countries begin to allow gatherings
          again, it has never been more important to remain vigilant. For organizers of mass gatherings, the key planning
          recommendations from WHO outline the necessary precautions and safety measures when hosting large crowds of people.
          <br><br>
          For religious gatherings specifically, where close contact with others is common, guidelines have been published that
          include recommendations around devotion practices and conducting safe burials.
          <br><br>
          As restaurants continue to provide people with nourishment, food safety is of utmost importance. WHO has published
          guidance around food safety, including the use of plastic gloves, social distancing and meal delivery.
          <br><br>
          The common thread through the technical guidance is the need for governments to make informed decisions and to clearly
          communicate with their citizens. While some guidelines are universal – washing hands, maintaining distance, staying home
          if unwell with symptoms of COVID– others require a response tailored to specific contexts. WHO is committed to providing
          decision-makers with the information they need to make the best decisions for and with their people.
          <br><br>
          <em><a href="https://www.who.int/news-room/feature-stories/detail/a-guide-to-who-s-guidance"><b>source</b>
              <u>www.who.int</u></a></em>
        </p>
      </div>
    </div>
  </div>

  <%- include ("./partials/footer") %>
</body>

</html>