<!DOCTYPE html>
<html>
  <head>
    <title>💊 COVID-19 Patients' Support</title>
    <%- include ("./partials/header") %>
    <link rel="stylesheet" href="/public/stylesheets/home.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      type="text/javascript"
      async
    ></script>
  </head>
  <body>
    <center>
      <h1>COVID-19 Patients' Support</h1>
      
      <a href="/register" class="waves-effect waves-light btn">sign up</a>
      <a href="/login" class="waves-effect waves-light btn">login</a>
      <a href="/logout" class="waves-effect waves-light btn">logout</a>
    </center>
    

    <%- include ("partials/footer") %>
  </body>
</html>
