<html>
  <head>
    <title>📝 Register</title>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/register.css" />
  </head>

  <body>
    <h1><center>Sign Up</center></h1>
    <!-- REGISTER FORM -->
    <div class="container">
      <div class="row">
        <form action="/register" method="POST" class="col s6 offset-s3">
    
          <!-- Username Field -->
          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="username" id="username" class="validate" />
              <label for="username">Username</label>
            </div>
          </div>
    
          <!-- Password Field -->
          <div class="row">
            <div class="input-field col s12">
              <input type="password" name="password" id="password" class="validate" />
              <label for="password">Password</label>
            </div>
          </div>
    
          <!-- Submit Button  -->
          <button class="waves-effect waves-light btn">SIGN UP</button>
    
        </form>
      </div>
    </div>
    
    <center><a href="/login" class="waves-effect waves-light btn">Login</a></center>
    

    <!-- <li><a href="/register">sign up</a></li> -->
    <!-- <li><a href="/logout">logout</a></li> -->

    <%- include ("./partials/footer") %>
  </body>
</html>
